<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TBD</title>

  <!-- TODO: make css deps more dynamic, maybe allow tag reference here -->
  {{#each cssDeps}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}

  {{#if head}}
    <!-- SYLEGEN: dependencies.templates.head -->
    {{{ head }}}
    <!-- SYLEGEN: dependencies.templates.head (end) -->
  {{else}}
    <!-- SYLEGEN: dependencies.templates.head NO DEPS -->
  {{/if}}

  <!-- TODO: allow head js tags -->
</head>
{{! We have a display type of table-cell here, because we want to see element margins on ending child elements }}
<body>

  {{{content}}}

  {{#each jsDeps}}
    <script src="{{this}}"></script>
  {{/each}}

  {{#if bottom}}
    <!-- SYLEGEN: dependencies.templates.bottom -->
    {{{ bottom }}}
    <!-- SYLEGEN: dependencies.templates.bottom (end) -->
  {{else}}
    <!-- SYLEGEN: dependencies.templates.bottom NO DEPS -->
  {{/if}}

  <script type="text/javascript">
  (function(){
    "use strict";

    var frameHeight = 0, elements, i, element, isVisible;
    // element.getBoundingClientRect().top
    // visible => element.ownerDocument

    var checks = {
      isIgnoredTag: function(element) {
        var ignoredTags = {
          "SCRIPT": true,
          "LINK": true,
          "META": true
        };

        return ignoredTags[element.tagName];
      },

      isHidden: function(element) {
        return element.offsetWidth <= 0 && element.offsetHeight <= 0 && !element.getClientRects().length;
      },

      isVisible: function(element) {
        return !checks.isHidden(element);
      }
    };

    var pxAsDecimal = function(value) {
      var stripped;
      if (Boolean(value) && /.*?px/.test(value)) {
        stripped = value.slice(0, value.indexOf("px"));
        return parseFloat(stripped);
      }

      return 0;
    };

    var checkFrameHeight = function() {
      var elements = document.body.getElementsByTagName('*'), i, element, isVisible, dimensions, computedStyle, bottomMargin;

      for (i = elements.length; i--;) {
        element = elements[i];
        isVisible = checks.isVisible(element);

        switch(true) {
          case (isVisible && checks.isIgnoredTag(element)):
            break;
          default:
            dimensions = element.getBoundingClientRect();
            computedStyle = element.currentStyle || window.getComputedStyle(element);
            bottomMargin = pxAsDecimal(computedStyle.marginBottom);
            frameHeight = Math.max(frameHeight, dimensions.top + dimensions.height + bottomMargin);
        }
      }

      document.body.setAttribute('data-frame-height', frameHeight);

      setTimeout(checkFrameHeight, 500);
    };

    checkFrameHeight();
  }());

  </script>
</body>
</html>
