
  <article id="component-{{id}}">
    <header>
      <h2 class="headline-prio-2">{{headline}}</h2>
    </header>

    {{#if docs.0.label}}
      <div class="tabs">
        {{#if docs.1.label}}
          <nav class="tabs-nav">
            <ul class="list tabs-nav-list">
              {{#each docs}}
                <li class="list-item tabs-nav-item {{#if @first}}active{{/if}}">
                  <a href="#{{../id}}-{{label}}" class="tabs-nav-link link">{{label}}</a>
                </li>
              {{/each}}
            </ul>
          </nav>
        {{/if}}

        {{#each docs}}
          <div class="markdown-container tabs-item {{#if @first}}active{{/if}}" id="{{../id}}-{{label}}">
              {{{content}}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#unless states}}
    {{! just show the default template }}

      <div class="tabs">
        <nav class="tabs-nav">
          <ul class="list tabs-nav-list">
            <li class="list-item tabs-nav-item active">
              <a href="#{{slug}}-preview" class="tabs-nav-link">Preview</a>
            </li>
            <li class="list-item tabs-nav-item">
              <a href="#{{slug}}-code-example" class="tabs-nav-link link">Code</a>
            </li>
          </ul>
        </nav>

        <div class="tabs-item active">
          <div class="preview-breakpoints">
            <iframe class="preview auto-height" id="{{slug}}-preview" src="{{ rellink template.path }}" width="100%" height="0px">
            </iframe>
              <li><button data-width="372px">mobile</button></li>
              <li><button data-width="768px">tablet</button></li>
              <li><button data-width="1280px">desktop</button></li>
            </ul>

            <ul class="horizontal-list">
              <li class="horizontal-list-item preview-breakpoints-item">
                <button class="preview-breakpoints-button link" data-width="372px">mobile</button></li><li class="horizontal-list-item preview-breakpoints-item">
                <button class="preview-breakpoints-button link" data-width="768px">tablet</button></li><li class="horizontal-list-item preview-breakpoints-item">
                <button class="preview-breakpoints-button link" data-width="1280px">desktop</button></li>
            </ul>
          </div>
        </div>

        <div class="code tabs-item" id="{{slug}}-code-example">
          <pre><code class="language-html">{{template.content}}</code></pre>
        </div>
      </div>

    {{else}}
      {{! show the rendering of each modifier (default view should be configured as a modifier, if it should be listed too) }}
      {{#each states as |state| }}
        <div class="state">

          <h3 class="headline-prio-3 state-headline">{{state.label}}</h3>

          {{#if state.doc}}
            <div class="copy">{{{state.doc}}}</div>
          {{/if}}

          <div class="tabs">
            <nav class="tabs-nav">
              <ul class="list tabs-nav-list">
                <li class="list-item tabs-nav-item active">
                  <a href="#{{state.slug}}-preview" class="tabs-nav-link">Preview</a>
                </li>
                <li class="list-item tabs-nav-item">
                  <a href="#{{state.slug}}-code-example" class="tabs-nav-link link">Code</a>
                </li>
              </ul>
            </nav>

            <div class="tabs-item active" id="{{state.slug}}-preview">
              <div class="preview-breakpoints">
                {{#each state.content as |c| }}
                  <iframe class="preview preview-state-variant auto-height" src="{{ rellink c.path }}" width="100%" height="0px"></iframe>
                {{/each}}
                <ul class="horizontal-list">
                  <li class="horizontal-list-item preview-breakpoints-item">
                    <button class="preview-breakpoints-button link" data-width="372px">mobile</button></li><li class="horizontal-list-item preview-breakpoints-item">
                    <button class="preview-breakpoints-button link" data-width="768px">tablet</button></li><li class="horizontal-list-item preview-breakpoints-item">
                    <button class="preview-breakpoints-button link" data-width="1280px">desktop</button></li>
                </ul>
              </div>
            </div>

            <div class="code tabs-item" id="{{state.slug}}-code-example">
              <pre class="preview-state-variant-code">{{#each state.content as |c| }}<code class="language-html">{{c.content}}</code>{{/each}}</pre>
            </div>
          </div>

        </div>
      {{/each}}

    {{/unless}}

  </article>
